* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(./img/header_logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
  color: white;
}

.header_h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
  padding-bottom: 32px;
}

.header_h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
  padding-bottom: 44px;
}

.header_button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  cursor: pointer;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_button:hover {
  border-radius: 30px;
  background: #EB443F;
}

.play {
  flex-shrink: 0;
  background-color: #000915;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.play_1 {
  height: 300px;
  background-image: url(./img/play_1.jpg);
  border-radius: 16px;
  color: #FFF;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  padding: 236px 260px 32px 32px;
  cursor: pointer;
}

.play_2 {
  height: 300px;
  background-image: url(./img/play_2.jpg);
  border-radius: 16px;
  color: #FFF;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  padding: 236px 260px 32px 32px;
  cursor: pointer;
}

.play_3 {
  height: 300px;
  background-image: url(./img/play_3.jpg);
  border-radius: 16px;
  color: #FFF;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  padding: 236px 260px 32px 32px;
  cursor: pointer;
}
.footer {
  background: #000915;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 800px;
}
.footer_left {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  gap: 32px;
  margin-top: 282px;
}
.footer_h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
.footer_h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
  display: block;
}
.footer_button {
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer_button:hover {
  border-radius: 30px;
  background: #EB443F;
}
.footer_img {
  margin-top: 232px;
}
.remember {
    background: #000915;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
  }
  .remember_right {
    row-gap: 32px;
    margin-top: 282px;
  }
  .remember_h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
  }
  .remember_h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 177.778% */
    display: block;
  }
  .remember_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .remember_button:hover {
    border-radius: 30px;
    background: #EB443F;
  }
  .remember_img {
    margin-top: 232px;
  }
  .riddle {
    background: #000915;
    background-image: url(./img/riddle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
  .riddle_h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
  }
  .riddle_h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 177.778% */
    display: block;
  }
  .riddle_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .riddle_button:hover {
    border-radius: 30px;
    background: #EB443F;
  }
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header_h1 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header_h2 {
    text-align: center;
  }
  .header_button {
    margin: auto;
    display: block;
  }
  .play {
    display: grid;
  }
  .footer {
    display: grid;
    justify-content: space-between;
  }
  .footer_h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    display: block;
  }
  .footer_h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    margin: auto;
    display: block;
  }
  .footer_button {
    margin: auto;
    display: block;
  }
  .footer_img {
    width: 344px;
    margin-top: 64px;
  }
  .footer_left {
    margin-top: 178px;
  }
  .remember {
    display: flex;
    flex-direction: column-reverse;
  }
  .remember_h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    display: block;
  }
  .remember_h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    margin: auto;
    display: block;
  }
  .remember_button {
    margin: auto;
    display: block;
  }
  .remember_img {
    width: 344px;
    margin-top: 64px;
  }
  .remember_left {
    margin-top: 178px;
  }
  .riddle {
    display: flex;
    flex-direction: column-reverse;
  }
  .riddle_h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    display: block;
  }
  .riddle_h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    margin: auto;
    display: block;
  }
  .riddle_button {
    margin: auto;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */